{% extends 'base.html' %}
{% load static %}

{% block title %}Log in to Twitter{% endblock title %}

{% block body_base %}

<script src="{% static "scripts/profiles/login.js" %}" async></script>
<link rel="stylesheet" href="{% static "styles/profiles/login.css" %}">

<div class="container">
    {% if messages %}
    <div class="alert alert-error error-message">
        {% for m in messages %}
        {{m}}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert">&times</button>
    </div>
    {% endif %}
    <div class="jumbotron">

        <h1 id="login-greeting">Log in to Twitter</h1>
        <p class="lead"></p>
        <hr class="my-2">
        <form method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button class='btn btn-info'>Login</button>
        </form>

    </div>
</div>

{% endblock body_base %}
