{% extends 'base.html' %}
{% load static %}

{% block title %}Log in to Twitter{% endblock title %}

{% block body_base %}

<link rel="stylesheet" href="{% static "styles/profiles/login.css" %}">

<div id='bg-container'>
    {% if messages %}
    <div class="alert alert-error error-message" id="login-error">
        {% for m in messages %}
        {{m}}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert">&times</button>
    </div>
    {% endif %}
    <div id="login-container">
        <div id="login-greeting">Log in to Twitter</div>
        <form method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button class='btn' id='login-btn'>Login</button>
        </form>

    </div>
</div>

{% endblock body_base %}
