<div id='profile'>
    <img src={{ profile.background_pic.url }} class="img-fluid" id="profile-background-pic">
    <img src={{ profile.profile_pic.url }} class="img-fluid" id="profile-pic">
    {% if profile == user.profile %}
    <button class='profile-btn' id='edit-profile-btn'>Edit Profile</button>
    {% else %}
    <button class='profile-btn {% if is_followed %}is-followed{% endif %}' id="follow-btn">
        {% spaceless %}
        Follow{% if is_followed %}ing{% endif %}
        {% endspaceless %}
    </button>
    {% endif %}
    <div id="profile-display-name">
        {{profile.display_name}}
    </div>
    <div id="profile-clickable-name">@{{profile.username}}</div>
    <div id='profile-bio'>{{profile.bio}}</div>
    <div id='bonus-info'>
        {% if profile.location %}
        <div id='profile-location'>{{profile.location}}</div>
        {% endif %}
        {% if profile.website %}
        <div id='profile-site'>{{profile.website}}</div>
        {% endif %}
        {% if profile.joined %}
        <div id='profile-joined'>Joined {{profile.joined}}</div>
        {% endif %}
    </div>
    <div id='profile-following'><span class='num'>{{profile.following}}</span> Following</div>
    <div id='profile-followers'><span class='num'>{{profile.followers}}</span> Followers</div>
</div>
