<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>{% block title %}{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Twemoji -->
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>

    <!-- JavaScript Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- PopperJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- ClipboardJS -->
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!--Favicon -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>

<body>

    <link href="{% static "styles/base.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    {% block body_scripts %}
    {% endblock body_scripts %}

    {% comment %} use $("#cover").show() to cover the background {% endcomment %}
    <div id="cover" style='display:none'></div>
    {% block body_base %}

    <div id='content'>
        <!--navigation-->
        <div class="navbar navbar-inverse navbar-fixed-left" id='left-body'>
            <div id='left-nav'>
                <ul class="nav navbar-nav">
                    <img src="{%  static 'logo_white.svg' %}" id='nav-logo'>
                    <li>
                        <a id='nav-to-home'><i class='material-icons navbar-icon'>home</i>
                            <span class='text-next-to'>
                                Home
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id='nav-to-search'><i class='material-icons navbar-icon'>search</i>
                            <span class='text-next-to'>
                                Explore
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id='nav-to-notifications'><i class='material-icons navbar-icon'>notifications</i>
                            <span class='text-next-to'>
                                Notifications
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id='nav-to-messages'><i class='material-icons navbar-icon'>message</i>
                            <span class='text-next-to'>
                                Messages
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id='nav-to-bookmarks'><i class='material-icons navbar-icon'>bookmark_border</i>
                            <span class='text-next-to'>
                                Bookmarks
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id='nav-to-lists'><i class='material-icons navbar-icon'>list_alt</i>
                            <span class='text-next-to'>
                                Lists
                            </span>
                        </a></li>
                    <li>
                        <a id='nav-to-profile'><img src={{ user.profile.profile_pic.url }}
                                class="img-fluid rounded-circle navbar-profile-pic"
                                username={{ user.profile.username }}>
                            <span class='text-next-to'>
                                Profile
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id='nav-to-more'><i class='material-icons navbar-icon'>more</i>
                            <span class='text-next-to'>
                                More
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar navbar-inverse navbar-fixed-right" id='right-body'>
            <form class="form-inline" id='right-search-bar'>
                <input class="form-control" type="search" placeholder="Search Twitter">
            </form>
        </div>
        <div id='main-body'>
            <div id='header'>
                <span id='header-text'>
                    Twitter
                </span>
            </div>
            <div id='content-wrapper'>
                <div id='main-body-contents'>
                    {% block body_navbar %}
                    {% endblock body_navbar %}
                </div>
            </div>
        </div>
    </div>
    {% endblock body_base %}
</body>

</html>
