<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>{% block title %}{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Twemoji -->
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>

    <!-- JavaScript Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

</head>

<body>
    <link href="{% static "styles/base.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    {% block body_scripts %}
    {% endblock body_scripts %}

    {% comment %} use $("#blur").show() to blur the background {% endcomment %}
    <div id="cover" style='display:none'></div>
    {% block body_base %}

    <!--navigation-->
    <div class="navbar navbar-inverse navbar-fixed-left" id='left-body'>
        <a class="navbar-brand" href="#">LOGO</a>
        <ul class="nav navbar-nav">
            <li><a href="#"><span> Home </span></a></li>
            <li><a href="#"><span> Explore </span></a></li>
            <li><a href="#"><span> Notifications </span></a></li>
            <li><a href="#"><span> Messages </span></a></li>
            <li><a href="#"><span> Bookmarks </span></a></li>
            <li><a href="#"><span> Lists </span></a></li>
            <li><a href="#"><span> Profile </span></a></li>
            <li><a href="#"><span> More </span></a></li>
        </ul>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-right" id='right-body'>
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div id='main-body' class="shrink-l shrink-r">
        <div class="container">
            {% block body_navbar %}
            {% endblock body_navbar %}
        </div>
    </div>

    {% endblock body_base %}
</body>

</html>
