#landing-page {
    width: 100%;
    height: 100%;
}


#lp-left {
    width: 50%;
    height: 100%;

    float: left;

    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-weight: bold;
    /* position: absolute; */
    z-index: 0;

    background-color: rgba(113, 201, 248, 1);
}

#lp-right {
    width: 50%;
    height: 100%;

    float: right;

    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 10%;
    padding-right: 10%;

    position: relative;
    background-color: white;
    z-index: 4;
    right: 0;

}

form {
    position: fixed;
    top: 0;
    z-index: 5;
}

#r-header,
#r-sub-header {
    font-weight: bold;
}

#r-header {
    margin-bottom: 2em;
    font-size: larger;
}

.bp-cont {
    margin-bottom: 2em;
}

#footer {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 0.5px solid rgb(170, 184, 194);
    z-index: 10;
    background-color: white;
}

#footer-links {
    font-size: small;
    color: rgb(170, 184, 194);
    margin: auto;
    width: fit-content;
}

.twitter-logo {
    width: 3em;
    display: block;
}

#bird {
    position: absolute;
    max-height: 100%;
    height: 100%;
    top: 0;
    max-width: 100%;
    width: 100%;
}

#bulletpoints,
#r-contents {
    margin: auto;
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

#r-contents {
    color: black;
}