#profile {
    border: 1px solid darkblue;
}

#profile-background-pic {
    width: 100%;
    height: 100px;
}

#profile-pic {
    height: 100px;
    width: 100px;
    margin-top: -100px;
}

.profile-btn {
    float: right;
    background-color: rgba(29, 161, 242, 1);
    color: white;
}

.is-followed {
    background-color: transparent;
    color: rgba(29, 161, 242, 1);
}

#profile-display-name {
    display: block;
    font-weight: bold;
}

#profile-clickable-name {
    display: block;
    color: rgb(101, 119, 134);
}

#profile-bio {
    display: block;
}

#bonus-info {
    color: rgb(101, 119, 134);
    font-size: 0.9em;
}


#profile-location,
#profile-site,
#profile-joined {
    display: inline-block;
    width: 30%;
    text-align: center;
}

#profile-following {
    display: inline-block;
}

#profile-following .num,
#profile-followers .num {
    color: rgb(101, 119, 134);
}

#profile-followers {
    display: inline-block;
}