#cover {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

#content,
body,
html {
    background: #15202b;
    color: white;
    overflow: hidden;
    height: 99%;
}

#main-body {
    border-left: 0.5px solid rgb(101, 119, 134, 0.4);
    border-right: 0.5px solid rgb(101, 119, 134, 0.4);
    float: left;
    overflow-y: scroll;
    height: 100%;
    width: 40%;


    /* Remove the scrollbar */

    /* Firefox */
    scrollbar-width: none;
    /* IE 10+ */
    -ms-overflow-style: none;
}

#main-body::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

#left-body {
    float: left;
    width: 25%;
    height: 100%;
}

#right-body {
    width: 35%;
    float: right;
    height: 100%;
}

#right-search-bar {
    position: absolute;
    left: 10%;
    width: 70%;
    top: 0;
}

#right-search-bar input {
    background-color: rgba(101, 119, 134, 0.2);
    color: rgb(170, 184, 194);
    border: none;
    width: 100%;
}

#left-nav {
    right: 10%;
    top: 1%;
    font-size: 1.5em;
    position: absolute;
    font-weight: bold;
}

#main-body-contents {
    margin-top: 2.5em;
}

.navbar-brand {
    width: 100%;
}

.navbar-icon {
    bottom: -5px;
    position: relative;
    font-size: 1.3em;
}

.navbar-profile-pic {
    width: 1.3em;
    height: 1.3em;
}


#left-nav li:hover {
    background-color: rgba(29, 161, 242, 0.1);
    color: rgba(29, 161, 242, 1);
    border-radius: 50%;
    cursor: pointer;
}

#left-nav li {
    margin-bottom: 12%;
}

#header {
    border-bottom: rgb(101, 119, 134, 0.4) 1px solid;
    position: fixed;
    background-color: #15202b;
    height: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    z-index: 400;
}

#header-text {
    font-weight: bold;
    padding-left: 1em;
}

#nav-logo {
    height: 1.3em;
    width: 1.3em;
    margin-bottom: 10%;
}