#cover {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

#left-body {
    width: 300px;
    position: fixed;
    left: 0;
}


#right-body {
    width: 300px;
    position: fixed;
    right: 0;
}

.navbar-brand {
    width: 100%;
}