{% extends 'base.html' %}
{% block title %}Twitter{% endblock title %}
{% load static %}

{% block body %}
<script src="{% static "scripts/tweets/new_tweet.js" %}"></script>
<script src="{% static "scripts/tweets/tweet_list.js" %}"></script>
<link rel="stylesheet" href="{% static "styles/tweets/tweet_list.css" %}">
<link rel="stylesheet" href="{% static "styles/tweets/new_tweet.css" %}">
<link href="{% static "lib/emoji-picker/jquery.lsxemojipicker.css" %}" rel="stylesheet">
<script src="{% static "lib/emoji-picker/jquery.lsxemojipicker.js" %}"></script>

<div class="container">
    <div class="new-tweet">
        <form method="post">
            {% csrf_token %}
            <img src={{ user.profile.profile_pic.url }} class="img-fluid profile-pic new-tweet-profile-pic">
            <div class='new-tweet-input'>
                <span class='new-tweet-textarea' contenteditable="true"></span>
                <span class='new-tweet-placeholder' placeholder="What's happening?"></span>
                {{ new_tweet_form.text }}
            </div>
            <p></p>
            <input type='file' id="new-tweet-image-button" multiple="multiple" style="display: none">
            <div id='new-tweet-image-cont-1' class='new-tweet-image-cont new-tweet-image-hidden'>
                <img id="new-tweet-image-1" class='new-tweet-image'>
            </div>
            <div id='new-tweet-image-cont-2' class='new-tweet-image-cont new-tweet-image-hidden'>
                <img id="new-tweet-image-2" class='new-tweet-image'>
            </div>
            <div id='new-tweet-image-cont-3' class='new-tweet-image-cont new-tweet-image-hidden'>
                <img id="new-tweet-image-3" class='new-tweet-image'>
            </div>
            <div id='new-tweet-image-cont-4' class='new-tweet-image-cont new-tweet-image-hidden'>
                <img id="new-tweet-image-4" class='new-tweet-image'>
            </div>
            <p></p>
            <div class="new-tweet-media">
                <span class='new-tweet-media-image'>IMG</span>
                <span class='new-tweet-media-gif'>GIF</span>
                <span class='new-tweet-media-poll'>POLL</span>
                <button class='new-tweet-media-emoji'>EMOJI</button>
            </div>
            <div class="new-tweet-extra">
                <div class="progress">
                    <span class="progress-left">
                        <span class="progress-bar border-primary new-tweet-bar-l"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar border-primar new-tweet-bar-r"></span>
                    </span>
                </div>
                <div class='new-tweet-separator'>|</div>
                <input type='button' class='btn btn-primary' value="+" , class='new-tweet-add'>
            </div>
            <input type='submit' class='btn btn-primary' value='Tweet' class='new-tweet-submit'>
        </form>
    </div>
    <ul class="tweet-list">
        {% for tweet in tweet_list %}
        <li class='tweet-preview' tweet-id={{tweet.id}}>
            <img src={{ tweet.author.profile_pic.url }} class="img-fluid profile-pic" width="40" height="40">
            <div class="clickable-name">
                <a href="{% url 'profiles:profile' slug=tweet.author.slug%}">
                    {{tweet.author.display_name}}</a>
                <span class="tweet-username">@{{tweet.author.username}}</span>
            </div>
            <span class="tweet-date" utc={{tweet.date|date:"U" }}></span>

            <div class="tweet-text">{{tweet.text|linebreaks}}</div>

            {% comment %} Using "C", "R", "L" as placeholders for now {% endcomment %}
            <div class="action-btn comment-btn">
                <span class="tweet-comments-icon">C:</span>
                <span class="tweet-comments-num">{{tweet.comments}}</span>
            </div>
            <div class="action-btn rt-btn {% if tweet.is_rt %} is-rt {% endif %}">
                <span class="tweet-rts-icon">R:</span>
                <span class="tweet-rts-num">{{tweet.rts}}</span>
            </div>
            <div class="action-btn like-btn {% if tweet.is_liked %} is-liked {% endif %}">
                <span class="tweet-likes-icon">L:</span>
                <span class="tweet-likes-num">{{tweet.likes}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock body %}
