<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {% comment %} Invisible form {% endcomment %}
    {{ tweet_form }}
    {{ media_form }}

    <img src={{ user.profile.profile_pic.url }} class="img-fluid profile-pic new-tweet-profile-pic">

    <div class='new-tweet-input'>
        <span class='new-tweet-textarea' contenteditable="true"></span>
        <span class='new-tweet-placeholder' placeholder="What's happening?"></span>
    </div>

    <p></p>

    <div class='tweet-media' style='display:none;'>

        {% comment %} Images {% endcomment %}
        <input type='file' class="new-tweet-image-button" multiple="multiple" style="display: none"
            accept="image/png, image/jpeg">

        <div class="tweet-image-cont-left">
            <div class='tweet-image-cont' image-num='1' style="display: none">
                <img class='tweet-image img-thumbnail'>
            </div>
            <div class='tweet-image-cont' image-num='3' style="display: none">
                <img class='tweet-image img-thumbnail'>
            </div>
        </div>
        <div class="tweet-image-cont-right">
            <div class='tweet-image-cont' image-num='2' style="display: none">
                <img class='tweet-image img-thumbnail'>
            </div>
            <div class='tweet-image-cont' image-num='4' style="display: none">
                <img class='tweet-image img-thumbnail'>
            </div>
        </div>
    </div>

    <p></p>

    <div class="new-tweet-media-buttons">
        <button class='new-tweet-media-image'>IMG</button>
        <button class='new-tweet-media-gif'>GIF</button>
        <span class='new-tweet-media-poll'>POLL</span>
        <button class='new-tweet-media-emoji'>EMOJI</button>
    </div>

    <div class="new-tweet-extra">
        <div class="progress">
            <span class="progress-left">
                <span class="progress-bar border-primary new-tweet-bar-l"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar border-primar new-tweet-bar-r"></span>
            </span>
        </div>
        <div class='new-tweet-separator'>|</div>
        <input type='button' class='btn btn-primary' value="+" , class='new-tweet-add'>
    </div>
    <input type='submit' class='btn btn-primary' value='Tweet' class='new-tweet-submit'>
</form>
