<div class='new-tweet'>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        <img src={{ user.profile.profile_pic.url }} class="img-fluid profile-pic new-tweet-profile-pic">

        <div class='new-tweet-input'>
            {% spaceless %}
            <span class='new-tweet-textarea' contenteditable="true"></span>
            <span class='new-tweet-placeholder' placeholder="What's happening?"></span>
            {% endspaceless %}
        </div>

        <p></p>

        <div class='tweet-media' style="display: none;">

            {% comment %} Images {% endcomment %}
            <input type='file' class="new-tweet-image-button" multiple="multiple" style="display: none"
                accept="image/png, image/jpeg">
            {% spaceless %}
            <div class='tweet-media-images' style="display: none;">
                <div class="tweet-image-cont-left">
                    <div class='tweet-image-cont' image-num='1' style="display: none">
                        <img class='tweet-image img-thumbnail'>
                    </div>
                    <div class='tweet-image-cont' image-num='3' style="display: none">
                        <img class='tweet-image img-thumbnail'>
                    </div>
                </div>
                <div class="tweet-image-cont-right">
                    <div class='tweet-image-cont' image-num='2' style="display: none">
                        <img class='tweet-image img-thumbnail'>
                    </div>
                    <div class='tweet-image-cont' image-num='4' style="display: none">
                        <img class='tweet-image img-thumbnail'>
                    </div>
                </div>
            </div>
            {% endspaceless %}

            <div class='tweet-media-gif' style="display: none;">
                <img>
            </div>

            <div class='tweet-media-poll' style='display: none;'>
                <a name="" id="" class="btn btn-danger exit-btn" role="button">&times;</a>
                <div class='new-tweet-poll-input' choice-num='1'>
                    <span class='poll-option-text'>Option 1:</span>
                    <input type="text">
                </div>
                <div class='new-tweet-poll-input' choice-num='2'>
                    <span class='poll-option-text'>Option 2:</span>
                    <input type="text">
                    <input class="btn btn-primary" type="button" value="+">
                </div>
                <div class='new-tweet-poll-input' choice-num='3' style='display: none'>
                    <span class='poll-option-text'>Option 3:</span>
                    <input type="text">
                    <input class="btn btn-primary" type="button" value="+">
                </div>
                <div class='new-tweet-poll-input' choice-num='4' style='display: none'>
                    <span class='poll-option-text'>Option 4:</span>
                    <input type="text">
                </div>
                <div class="new-tweet-poll-date">
                    Days:
                    <select name="days">
                        {% for i in "x"|rjust:"7" %}
                        <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                        {% endfor %}
                    </select>
                    Hours:
                    <select name="hours">
                        {% for i in "x"|rjust:"24" %}
                        <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                        {% endfor %}
                    </select>
                    Minutes:
                    <select name="minutes">
                        {% for i in "x"|rjust:"60" %}
                        <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        {% if retweet_to %}
        <div class='new-tweet-retweet-prev'>
            {% include 'tweets/tweet_template.html' with tweet=retweet_to hide_reply=True hide_buttons=True %}
        </div>
        {% endif %}

        <hr>
        <div class="new-tweet-media-buttons">
            <button class='new-tweet-media-image'>IMG</button>
            <button class='new-tweet-media-gif'>GIF</button>
            <button class='new-tweet-media-poll'>POLL</button>
            <button class='new-tweet-media-emoji'>EMOJI</button>
        </div>

        <div class="new-tweet-extra">
            <div class="progress">
                <span class="progress-left">
                    <span class="progress-bar border-primary new-tweet-bar-l"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-primar new-tweet-bar-r"></span>
                </span>
            </div>
            <div class='new-tweet-separator'>|</div>
            <input type='button' class='btn btn-primary new-tweet-add' value="+">
        </div>
        <input type='submit' class='btn btn-primary new-tweet-submit' value='Tweet'>
    </form>
</div>
