.new-tweet-input {
    display: inline;
}

.new-tweet-textarea {
    display: inline-block;
    position: relative;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0px solid transparent;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 1%;
}

.expanded {
    width: 50%;
}

.new-tweet-media-buttons {
    display: inline-block;
}

.new-tweet-extra {
    display: inline-block;
}

.new-tweet-separator {
    margin-left: 20px;
    margin-right: 5px;
    display: inline;
}

.new-tweet-add {
    margin-left: 0%;
}

.new-tweet-placeholder {
    vertical-align: top;
    margin-left: -5px;
}

.new-tweet-profile-pic {
    float: left;
    margin-right: 5px;
}


/* media */

.tweet-media {
    width: 400px;
    height: 200px;
}

.new-tweet-media-images {
    width: 100%;
    height: 100%;
}

.tweet-media-gif {
    height: 100%;
    width: 100%;
}

.tweet-media-gif img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.tweet-image-cont {
    height: 50%;
    width: 100%;
    display: inline-block;
}

.tall {
    height: 100%;
}

.wide {
    width: 99% !important;
}

.narrow {
    width: 0% !important;
}

.tweet-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tweet-image-cont-left {
    width: 50%;
    height: 100%;
    float: left;
}

.tweet-image-cont-right {
    width: 50%;
    height: 100%;
    float: right;
}


/* Progress bar css */

.progress {
    width: 1em;
    height: 1em;
    background: none;
    position: relative;
    top: 25px;
    display: block-inline;
}

.new-tweet-bar-r {
    color: red;
}

.new-tweet-bar-l {
    border-color: red !important;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid gray;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress-left {
    left: 0;
}

.progress-right {
    right: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    /* foreground width/color */
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;

    -webkit-transform-origin: center left;
    transform-origin: center left;
}


.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;

    -webkit-transform-origin: center right;
    transform-origin: center right;
}

/* Twemoji css */

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

/* Gifs */

#gif-selector {
    position: fixed;
    height: 70%;
    width: 40%;
    top: 15%;
    left: 30%;
    background-color: darkgray;
    z-index: 501;
}

#gf-search-form {
    height: 20%;
}

#gif-list,
#gif-preview-list {
    height: 90%;
    display: block;
    overflow-y: scroll;
}

.gif-preview {
    width: 49%;
    padding-top: 25%;
    background-color: black;
    display: inline-block;
    background-size: 100% 100%;
}

.gif-preview-text {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, 70%, black);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#gif-search-close-btn {
    display: inline-block;
    width: 10%;
}

#gif-search-bar {
    display: inline-block;
    width: 70%;
}

#gif-search-submit {
    display: inline-block;
    width: 20%;
}