.new-tweet-input {
    display: inline;
}

.new-tweet-textarea {
    display: inline-block;
    position: relative;
    min-width: 1%;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0px solid transparent;
    margin-left: 10px;
    white-space: pre-line
}

.new-tweet-media {
    display: inline-block;
}

.new-tweet-extra {
    display: inline-block;
}

.new-tweet-separator {
    margin-left: 20px;
    margin-right: 5px;
    display: inline;
}

.new-tweet-add {
    margin-left: 0%;
}

.new-tweet-placeholder {
    vertical-align: top;
    /* This makes the placeholder text "touch" the blinking cursor */
    margin-left: -9px;
}

.new-tweet-profile-pic {
    float: left;
}

/* Progress bar css */

.progress {
    width: 1em;
    height: 1em;
    background: none;
    position: relative;
    top: 25px;
    display: block-inline;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background width/color */
    border: 3px solid gray;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress-left {
    left: 0;
}

.progress-right {
    right: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    /* foreground width/color */
    border-width: 3px;
    border-style: solid;
    border-color: red;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;

    -webkit-transform-origin: center left;
    transform-origin: center left;
}


.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;

    -webkit-transform-origin: center right;
    transform-origin: center right;
}