.is-liked {
    color: red;
}

.is-rt {
    color: green;
}

.action-btn,
.clickable-name {
    display: inline;
}

.profile-pic {
    height: 40px;
    width: 40px;
}

.tweet-media-poll-btn {
    display: block;
    background-color: gray;
    color: white !important;
}

.chosen {
    background-color: darkblue;
}