.link-btn:hover,
.comment-btn:hover {
    cursor: pointer;
    color: rgb(0, 200, 255) !important;
    background-color: rgba(0, 200, 255, 0.1);
}

.rt-btn:hover {
    cursor: pointer;
    color: rgb(0, 255, 0) !important;
    background-color: rgba(0, 255, 0, 0.1);
}

.like-btn:hover {
    cursor: pointer;
    color: rgb(255, 0, 0) !important;
    background-color: rgba(255, 0, 0, 0.1);
}


.tweet-media-btns {
    display: flex;
    justify-content: space-between;

    margin-left: 15px;
    margin-right: 15px;
    padding-right: 15%;
}

.profile-pic {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

.poll-choice-wrapper {
    display: block;
    background-color: gray;
    height: 40px;
    position: relative;
}


.poll-choice-text {
    color: white !important;
    position: absolute;
    z-index: 11;
    float: left;
}

.poll-choice-perc {
    color: white;
    float: right;
    z-index: 11;
    position: relative;
}

.poll-choice-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #393c80;
}

.chosen .poll-choice-bar {
    background-color: #421bfe;
}

.not-chosen .poll-choice-bar {
    background-color: #9ca2cf;
}

.poll-totalvotes {
    height: 20px;
}

.poll-time-left {
    height: 20px;
}

.tweet-container {
    border: 1px solid gray;
    display: flex;
    width: 100%;
}

.tweet-container:hover {
    cursor: pointer;
    background-color: #233547;
}

.tweet-text {
    word-break: break-word;
    white-space: pre-wrap;
}

.tweet-date,
.tweet-separator-dot,
.tweet-clickable-name {
    color: gray;
}

.tweet-separator-dot {
    vertical-align: super;
}

.nested-tweet {
    margin-left: 10px;
    margin-right: 10px;
}

.tweet-clickable-name {
    display: inline;
}

.tweet-display-name {
    font-weight: bold;
    color: white;
}

.tweet-username {
    color: gray
}

.tweet-clickable-name:hover .tweet-display-name {
    text-decoration: underline;
    cursor: pointer;
}

.tweet-reserved-space {
    width: 15%;
}

.tweet-contents {
    flex: 1;
    width: 85%;
    position: relative;
}

.action-btn {
    border-radius: 50%;
    display: inline-block;
    color: gray !important;
}

.tweet-comment-to {
    color: gray !important;
}

.tweet-reply-clickable-name {
    color: rgb(0, 200, 255);
}

.tweet-reply-clickable-name:hover {
    text-decoration: underline;
}

.is-liked {
    color: red !important;
}

.is-rt {
    color: green !important;
}